<h2></h2>
<div class="ui container">
        <div class="ui relaxed divided list">
            <h1>Forum Notifications</h1>
            <%if @f_noti.length == 0%>
            <h1></h1>
            Nothing to show
            <%else%>
              <%@f_noti.each do |notif| %>
              <div class="item">
                <div class="content">
                  <div class="description"><%=notif.owner.alias%> <%=render_activity notif%></div>
                </div>
              </div>
              <%end%>
            <%end%>
        </div>
</div>